html {
    font-size: 16px;
    position: relative;
}

@import "riot-tags/to-do";
@import "riot-tags/item-list";
@import "riot-tags/basic-adder";

p {
    margin: 0;
    + p {
        margin-top: 1em;
    }
}
