item-list {
  display: block; }
  item-list ul {
    margin: 0;
    padding: 0; }
  item-list li {
    list-style: none;
    display: block;
    background-color: #ccc;
    color: #333;
    text-shadow: 2px 2px 4px black;
    padding: 0.5em 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    item-list li label {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 100%;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; }
    item-list li button {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
